footer#site-footer
  div.jumbotron: div.container.text-wrapper.text-center.text-md-left: div.row

    div.col-md
      div.footer-logo: img#header-img.logo(src="../images/freecodecamp_logo-b.svg") 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      p: a(href="https://www.freecodecamp.org/" target="_blank") Visit www.freecodecamp.org

    div.col-md
      div
        h6.footerHours.collapsible-footer-item.pt-4.pt-md-0(type="button" data-toggle="collapse" data-target="#footerHours" aria-expanded="false" aria-controls="footerHours" role="button") Business Hours
        p#footerHours.collapse Mon-Fri: 9:00 — 18:00
      div
        h6.footerContactInfo.collapsible-footer-item.pt-4.pt-md-3(type="button" data-toggle="collapse" data-target="#footerContactInfo" aria-expanded="false" aria-controls="footerContactInfo" role="button") Contact Information
        p#footerContactInfo.collapse 
          | Web: 
          a(href="https://mickelmetekohy.com/" target="_blank") mickelmetekohy.com
          br
          | Phone: 
          a(href="tel:31618192827") +31-6-1234-5678
          br
          | Email: 
          a(href="mailto:mickel1665@gmail.com") mickel1665@gmail.com
          ul.social-media
              li: a(href="https://twitter.com/mickelmetekohy" target="_blank"): span.sr-only Twitter
              li: a(href="https://github.com/MickelMetekohy" target="_blank"): span.sr-only Github
              li: a(href="https://www.linkedin.com/in/mickel-metekohy-31105865" target="_blank"): span.sr-only Linkedin

    div.col-md
      div
        h6(class="footerAddress collapsible-footer-item pt-4 pt-md-0" type="button" data-toggle="collapse" data-target="#footerAddress" aria-expanded="false" aria-controls="footerAddress" role="button") Address
        p#footerAddress.collapse MickelMetekohy
          br
          | Sint Annalaan 60,
          br
          | 6217KC Maastricht
          br
          | The Netherlands
      div
        h6(class="footerDonation collapsible-footer-item pt-4 pt-md-3" type="button" data-toggle="collapse" data-target="#footerDonation" aria-expanded="false" aria-controls="footerDonation" role="button") Donate To FreeCodeCamp
        p#footerDonation.collapse: a(href="https://donate.freecodecamp.org/" target="_blank") Make a tax-deductible donation here

div(style="padding:10px;background:#111;color:#aaa;text-align:center;font-size:11px;") This is a 
  a(href="https://www.freecodecamp.org/" target="_blank" style="font-weight:bold;color:#aaa;") www.freecodecamp.org
  |  assignment. All Rights Reserved.